DATABASE_URL=postgres://cinnabarlab:cinnabarlab@database:5432/cinnabarlab?sslmode=disable #TODO Take a look at sslmode
JWT_SECRET=<INSERT STRING CHAR LONG STRING HERE>
JWT_REQUIRE_EXPIRATION_TIME=false
JWT_VALIDATE_AUDIENCE=false
JWT_VALIDATE_LIFETIME=true
JWT_VALIDATE_ISSUER=false
JWT_VALIDATE_ISSUER_SIGNING_KEY=true